{% load static %}
<!DOCTYPE html>
<html lang="pt-br">


    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{%static 'filmes/style.css' %}">
</head>


<body>


<header>
    <h1>Encontre seus filmes favoritos!</h1>
</header>


<div class="barra-pesquisa">


    <form method="GET">


        <input type="text"
               name="q"
               placeholder="Pesquisar filme"
               value="{{ query|default:'' }}">


        <button type="submit">
            Buscar
    </button>


    </form>


</div>




<div class="tabela-div">


<table>
    <tr>
        <th>Poster</th>
        <th>Filme</th>
        <th>Gênero</th>
        <th>Ano</th>
        <th>Diretor</th>
        <th>Duração</th>
    </tr>


    {% for filme in filmes %}


    <tr>
        <td><img src="{{ filme.poster }}"></td>
        <td><a href="https://www.imdb.com/title/{{ filme.imdb_id }}/"target="_blank">
            {{filme.titulo}}</a>
        </td>
        <td>{{filme.genero}}</td>
        <td>{{filme.ano}}</td>
        <td>{{ filme.diretor }}</td>
        <td>{{filme.duracao}}</td>
   
    </tr>
    {% endfor %}
</table>
</div>




<div class="add-filme">


    <p class="texto-add">
        Não encontrou o filme desejado?
    </p>


    <button type="button" onclick="abrirForm()">Adicionar Filme</button>


<form method="POST" id="formFilme" style="display: none;">


    {% csrf_token %}
<input type="text"
           name="titulo"
           placeholder="Digite o título">


    <button type="submit">Salvar</button>
</form>
</div>
<script>
    function abrirForm(){
        let form=
        document.getElementById("formFilme");
        if(form.style.display == "none"){
            form.style.display = "block";
        }
        else{
            form.style.display = "none";
        }
       
    }


</script>
</body>
</html>
